* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TT Lakes, sans-serif;
    background: #F8F8F8;
}

.header {
    width: 100%;
    height: 56px;
    margin-bottom: 24px;
    border-top: solid 2px #D9FFF5;
    margin-bottom: 30px;
}

.header h2 {
    padding-top: 16px;
    padding-left: 32px;
    font-size: 24px;
    color: #7E7E82;
    text-transform: uppercase;
    font-weight: 400;
}

.brands-section {
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.brands-container {
    position: relative;
}

.brands-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 30px;
}

.brand-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: 72px;
    width: 240px;
    transition: transform 0.3s, box-shadow 0.3s;
    
}

.brand-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.brand-item .placeholder {
    background: #fff;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;

}

svg {
    background: transparent;
    border: none;
    max-height: 72px;
    max-width: 240px; 
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

.show-all-btn {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 134px;
    background: transparent;
    color: #1B1C21;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: color 0.3s;
}

.show-all-btn:hover {
    color: #000000;
}

.show-all {
    display: flex;
}
.show-all-btn-svg {
    justify-content: flex-end;
    margin-right: 8px;
}

.brands-grid.desktop-layout .brand-item:nth-child(n+9) {
    display: none;
}

.brands-grid.desktop-layout.expanded .brand-item:nth-child(n+9) {
    display: flex;
}

/* Для планшетов */
@media (max-width: 1120px) {
    .brands-grid {
        grid-template-columns: repeat(3, 1fr);
    }
    .brands-grid.desktop-layout .brand-item:nth-child(n+7) {
        display: none;
    }
    .brands-grid.desktop-layout.expanded .brand-item:nth-child(n+7) {
        display: flex;
    }
}

/* Для мобильных - включаем Swiper */
@media (max-width: 790px) {

    body {
         overflow-x: hidden;
    }

    .brands-grid {
        display: none;
    }

    .swiper-container {
        display: block;
        margin-bottom: 30px;
        position: relative;
    }

    .swiper-slide {
        height: 72px;
        width: 240px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-bottom: 10px;
        margin-right: 15px;
    }

    .swiper-slide .placeholder {
        background: #fff;
        width: 100%;
        margin-left: 15px;
        margin-right: 15px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        
    }

    .swiper-pagination {
        position: absolute;
        left: 58px;
        width: 204px;
        height: 12px;
    }

    .swiper-pagination-bullet {
        margin-right: 8px;
        background:#B5B6BC;
    }

    .show-all {
        display: none;
    }
}

@media (min-width: 790px) {
    
    .swiper-container {
        display: none;
    }
    
}
